<div class="large-hero">

  <picture>
    <source srcset="./assets/images/chittu_1400_797.jpg " media="(min-width: 768px)">
    <img srcset="./assets/images/chittu_700_573.jpg" alt="Coastal view of ocean and mountains">
  </picture>

  <div class="large-hero__text-content">
    <h1 class="large-hero__title">Your trip to himalaya.</h1>
    <h2 class="large-hero__subtitle">One step away.</h2>
    <p class="large-hero__description">We create soul restoring journeys that inspire you to be you.</p>
    <!--<p><a href="#" class="btn btn&#45;&#45;orange btn&#45;&#45;large">Get Started Today</a></p>-->
  </div>
</div>

